@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    background: #f5f5f5;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: min(80vw, 400px);
    border-radius: 10px;
    transform: translateY(50px);
}

h1{
    font-size: 2.2rem;
    margin: 5px 0 20px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.378);
}

h3{
    text-align: start;
    margin: 10px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.378);
}

#result-title{
    margin-bottom: 0;
}

.text{
    margin-bottom: 10px;
}

.botao{
    background: #f5f5f5;
    width: 100px;
    cursor: pointer;
}

.botao:hover{
    background: #e5e5e5;
}

#output{
    margin: auto;
    background-color: white;
    width: fit-content;
    padding: 0 4px;
    border-radius: 10px;
    height: 25px;
    margin-bottom: 10px;
}